$orange-background: #ff5f01;
$gold:  #ffdd00;
$black: #000000;
$white: #ffffff;

nav{
  background-color: $orange-background;
}
footer{
  background-color: $orange-background;
}
ul {
  li {
    list-style-type:none;
    a {
      color :$white ;
      &:hover {
        text-decoration: none;
        color : $white;
      }
    }
  }
}

@mixin ring ($size, $color) {
  width: $size;
  height: $size;
  margin-top:5px;
  border: solid $color $size/10;
  border-radius: 50%;
  display: inline-block;
  box-shadow : $size/50 $size/50 $size/20 lighten($color, 30);
  vertical-align: middle;
}

@for $i from 1 through 6 {
  .ring-#{$i} {
    @include ring(30px + $i*6, $black);
    margin-left:-20px -$i;
  }
}

.smallRing {
  @include ring(40px, $orange-background);
}

.bigRing {
  @include ring(180px, $gold);
}

