nav {
    background-color: #ff5f01;
}

footer {
    background-color: #ff5f01;
}

ul li {
    list-style-type: none;
}
ul li a {
    color: #ffffff;
}
ul li a:hover {
    text-decoration: none;
    color: #ffffff;
}

.ring-1 {
    width: 36px;
    height: 36px;
    margin-top: 5px;
    border: solid #000000 3.6px;
    border-radius: 50%;
    display: inline-block;
    box-shadow: 0.72px 0.72px 1.8px #4d4d4d;
    vertical-align: middle;
    margin-left: -21px;
}

.ring-2 {
    width: 42px;
    height: 42px;
    margin-top: 5px;
    border: solid #000000 4.2px;
    border-radius: 50%;
    display: inline-block;
    box-shadow: 0.84px 0.84px 2.1px #4d4d4d;
    vertical-align: middle;
    margin-left: -22px;
}

.ring-3 {
    width: 48px;
    height: 48px;
    margin-top: 5px;
    border: solid #000000 4.8px;
    border-radius: 50%;
    display: inline-block;
    box-shadow: 0.96px 0.96px 2.4px #4d4d4d;
    vertical-align: middle;
    margin-left: -23px;
}

.ring-4 {
    width: 54px;
    height: 54px;
    margin-top: 5px;
    border: solid #000000 5.4px;
    border-radius: 50%;
    display: inline-block;
    box-shadow: 1.08px 1.08px 2.7px #4d4d4d;
    vertical-align: middle;
    margin-left: -24px;
}

.ring-5 {
    width: 60px;
    height: 60px;
    margin-top: 5px;
    border: solid #000000 6px;
    border-radius: 50%;
    display: inline-block;
    box-shadow: 1.2px 1.2px 3px #4d4d4d;
    vertical-align: middle;
    margin-left: -25px;
}

.ring-6 {
    width: 66px;
    height: 66px;
    margin-top: 5px;
    border: solid #000000 6.6px;
    border-radius: 50%;
    display: inline-block;
    box-shadow: 1.32px 1.32px 3.3px #4d4d4d;
    vertical-align: middle;
    margin-left: -26px;
}

.smallRing {
    width: 40px;
    height: 40px;
    margin-top: 5px;
    border: solid #ff5f01 4px;
    border-radius: 50%;
    display: inline-block;
    box-shadow: 0.8px 0.8px 2px #ffbf9a;
    vertical-align: middle;
}

.bigRing {
    width: 180px;
    height: 180px;
    margin-top: 5px;
    border: solid #ffdd00 18px;
    border-radius: 50%;
    display: inline-block;
    box-shadow: 3.6px 3.6px 9px #fff199;
    vertical-align: middle;
}